<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793981887863-n5i0k2bk41mnj2n7fhoht9tdk8ioi79d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793981887863-n5i0k2bk41mnj2n7fhoht9tdk8ioi79d</string>
	<key>API_KEY</key>
	<string>AIzaSyAcBzvf6TguEQVp23mUBhckoWrOxvAYkeQ</string>
	<key>GCM_SENDER_ID</key>
	<string>793981887863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thepetgazette</string>
	<key>PROJECT_ID</key>
	<string>the-pet-gazette</string>
	<key>STORAGE_BUCKET</key>
	<string>the-pet-gazette.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793981887863:ios:6693dc37ea3370b511ed72</string>
</dict>
</plist>